
.section{
    font-family: Poppins;
    font-size: 70px;
    color: #5D885C;  
    margin-left: 290px; 
}

.section-items{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.prev, .next{
    position: relative;
    top: 100px;
}

.items{
    display: flex;
    /* box-shadow: rgba(240, 245, 209, 1) 10px 39px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    width: 1000px;
}

.slider {
    /* border: 3px solid black/; */
}

